*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.avatar-container{
    width: 40px;
    border-radius: 100%;
}

img{
    border-radius: 100%;
}

/* background app */

.bg-header{
    height: 100px;
    background-color: #009587;
}
.bg-main{
    height: calc(100vh - 100px);
    background-color: #D7DAD5;
}

/* application-container */

.application-container{
    height: 550px;
    width: 1200px;
    background-color: white;
}

/* side */

.side-application{
    width: 300px;
    border: black solid 1px;
}

.user-container{
    height: 65px;
    border: black solid 1px;
}

.notifications-container{
    height: 65px;
    border: black solid 1px;
}

.search-container{
    border: black solid 1px;
}

.search{
    width: 100%;
}

.contact{
    height: 65px;
}

/* main */

.main-application{
    border: black solid 1px;
}

.this-contact{
    height: 65px;
    border: black solid 1px;
    margin-left: 300px;
}

.footer-main{
    height: 65px;
    border: black solid 1px;
    margin-left: 300px;
}