*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.avatar-container{
    width: 40px;
    border-radius: 100%;
}

img{
    border-radius: 100%;
}

/* background app */

.bg-header{
    height: 100px;
    background-color: #009587;
}
.bg-main{
    height: calc(100vh - 100px);
    background-color: #D7DAD5;
}

/* application-container */

.application-container{
    height: 550px;
    width: 1200px;
    background-color: white;
}

/* side */

.side-application{
    width: 300px;
    border: black solid 1px;
    background-color: #F5F4F4;
}

.user-container{
    height: 65px;
    border: black solid 1px;
    background-color: #E9E9E9;
}
.this-contact-name,
.user-text{
    height: 40px;
}

.notifications-container{
    height: 65px;
    background-color: #8DD9FB;
}

.icon-container{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.search{
    border: none;
}

/* main */

.main-application{
    background: url("../img/mine.jpg") repeat-y;
    background-size: cover;
    border: black solid 1px;
    margin-top: 65px;
    margin-bottom: 65px;
    padding: 32px 64px;
    overflow-y: auto;
}

.this-contact{
    height: 65px;
    border: black solid 1px;
    margin-left: 300px;
    background-color: #E9E9E9;
}

.user-message-content,
.contact-message{
    width: 200px;
    min-height: 50px;
    border-radius: 5px;
}

.user-message-content{
    background-color: #D4F9B9;
}

.contact-message{
    background-color: white;
}

.footer-main{
    height: 65px;
    border: black solid 1px;
    margin-left: 300px;
    background-color: #E9E9E9;
}