<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="page-container vh-100 position-relative">
            <div class="bg-header"></div>
            <div class="bg-main"></div>

            <div class="application-container 
            position-absolute top-50 start-50 translate-middle d-flex">

                <div class="side-application h-100">
                    <div class="user-container">
                        <div class="d-flex align-items-center">
                            <div class="avatar-container m-2">
                                <img class="img-fluid" src="./img/avatar_io.jpg" alt="">
                            </div>
                            <div class="user-text flex-grow-1 my-2">User</div>
                            <div class="user-icon icon-user-color pe-3">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt px-3"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                    </div>

                    <div class="notifications-container d-flex align-items-center">
                        <div class="icon-container m-2 bg-white">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="flex-grow-1 my-2">
                            <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
                            <p class="m-0">Attiva notifiche desktop</p>
                        </div>
                    </div>

                    <div class="search-container py-1 px-2">
                        <input type="text" class="search w-100"  placeholder="Cerca o inizia una nuova chat" v-model="nameSearched">
                    </div>

                    <div v-for="(contact, index) in contacts" @click="thisContact(index)" class="contacts-container me-2">
                        
                        <!-- se il return della funzione searchContact è un true -->
                        <!-- visualizza il contatto in lista -->
                        <div v-if="searchContact(contact)" class="contact d-flex bg-white">
                            <div class="avatar-container m-2">
                                <img class="img-fluid" :src="contact.avatar" alt="">
                            </div>
                            <div class="flex-grow-1 my-2">{{ contact.name }}</div>
                        </div>
                    </div>

                </div>

                <div class="main-application flex-grow-1">
                    <div class="this-contact fixed-top">
                        <div class="d-flex align-items-center">
                            <div class="avatar-container m-2">
                                <img class="img-fluid" :src="contacts[currentIndex].avatar" alt="">
                            </div>
                            <div class="this-contact-name flex-grow-1 my-2">{{ contacts[currentIndex].name }}</div>
                            <div class="this-contact-icon this-contact-icon-color pe-3">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-paperclip px-3"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Cicla tutti messaggi del contacts[currentIndex]-->
                    <!-- se lo status è sent aggiunge la classe sent -->
                    <!-- se lo status è received aggiunge la classe received -->
                    <div v-for="(message, currentMessageIndex) in contacts[currentIndex].messages">
                        <div class="d-flex"
                            :class="{'flex-row-reverse' : message.status==='sent'}" 
                            @click="thisMessage(currentMessageIndex); showMenu()">
                            <div class="message my-1" :class="message.status">
                                <div class="message-txt p-1">{{message.text}}</div>
                                <div class="message-date d-flex flex-row-reverse">
                                    <div class="px-1">{{message.date}}</div>
                                </div>
                            </div>
                            <div v-if="" class="menu" :class="show">
                                 <div @click="deleteMessage(contacts[currentIndex].messages, currentMessageIndex)"
                                 >Cancella</div>
                            </div>
                        </div>
                    </div>

                    <div class="footer-main fixed-bottom p-3">
                        <i class="far fa-smile me-4"></i>
                        <input type="text" v-model="currentMessage" @keyup.enter="sendMessage" class="h-100" placeholder="Scrivi un messaggio">
                        <i class="fas fa-microphone ms-4"></i>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
   <script src="js/script.js"></script> 
</body>
</html>